<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="myorg" class="com.buchalka.springdemonew.Organisation">
		<constructor-arg value="bmw"></constructor-arg>
		<constructor-arg value="1929"></constructor-arg>
		<property name="ecount" value="10000"></property>
		<property value="525252" name="emply"></property>
		<property name="Slogon" value="WORK HARD "></property>
		<property name="BService" ref="Cloud"></property>
	</bean>
	<bean id="Cloud" class="com.buchalka.spring.servieImpl.Cloudimpl"></bean>
	<bean id="Eservie" class="com.buchalka.spring.servieImpl.Ecom"></bean>
</beans>
